body {
  background-color: black;
}

.about-heading {
  color: white;
  float: left;
}

.my-pic {
  float: right;
}

#tester-txt {
  color: white;
}

.about-me-txt {
  color: white;
  align: left;
}



#image-container{
  text-align: center;
 }



/* Footer */
footer {
	color: white;
	text-align: center;
}

