body {
  background-color: black;
}

section {
  content: "";
  display: table;
  clear: both;
}

article {
  float: left;
  padding: 20px;
  width: 60%;
}

.about-heading {
  padding-left: 10px;
  width: 70%;
  color: white;
  float: left;
}

.my-pic {
  float: right;
  max-width: 70%;
  height: auto;
}

#tester-txt {
  color: white;
}

.about-me-txt {
  color: white;
  text-align: left;
  padding: 10px;
  padding-right: 10px;
  width: 70%
}



#image-container{
  text-align: center;
 }



/* Footer */
footer {
	color: white;
	text-align: center;
}

